
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header, nav, section, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header h1 {
    color: #07090a;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    margin-right: 10px;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #020e10;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #c0392b;
}

.category {
    margin-top: 20px;
}

.item {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    background-color: #060707;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.item:hover {
    background-color: #0d0f10;
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: #2ecc71;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}
